


<section class="py-5" style="background-color: #fff; margin-top: 60px;">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center; color: #ffc000;" class="js-reveal">
        	About Naaseon Fabrics</h1>
        <hr class="worksdivider">
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; font-size: 18px; text-align: center; color: #000;" class="js-reveal">
           Through our online portal, you can order your fabrics and dresses. We also do door to door delivery. Click on the buy online button at the top right corner of the screen(On desktop, on phone kindly click the menu button at your top right corner. You will se the buy online button in the menu). Place an order today!
           Over the years our fabrics and sewn dresses have stood out in and around Africa. There are always occasions that you need to look lovely. We have the best fabrics for all your occasions. We also have the best Seamstresses and tailors who have made it their priority to sew dresses which makes you look great!.</p><br>
           
          </div>
        </div>
      </div>
    </section>


<section class="farmprodssection">

<div class="container">
    <div class="row">
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/naaseonfabrics/kentecollage.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">Beautiful Fabrics.</h4>
                <p class="infoaddlh">
                 We have very beautiful fabrics which will make you stand out for all occasions. Beautiful fabrics with various colours and designs from Africa and across the Globe. We have the best fabrics that will make you look beautiful.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/naaseonfabrics/kinginkente.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">Dresses on fleek!</h4>
                <p class="infoaddlh">
                 Do you want to look sweet? Do you want your dressing to stand out among the lot... Our seamstresses and Tailors are very talented with their craft. They can take any fabric and make it look splendid on you. To us Fashion is a calling and Creativity is our hallmark. These are our pool of styles/designs to choose from.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12" style="margin-bottom: 20px;">
            <div class="informationhypecontainer">
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/naaseonfabrics/girlsewing.jpg" width="200px" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">Buy and Sew Online.</h4>
                <p class="infoaddlh">
                 Through this online portal, you can order your fabrics and dresses. We also do door to door delivery. Click on the buy online button at the top right corner of your screen(On desktop), on mobile kindly click the menu button at your top right corner. You will see the buy online button among the menu. Place an order today! We humbly await to serve you with delight. Thank You.
                </p>
            </div>
        </div>
      </div>
    </div>

</section>