<style type="text/css">
.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://nikasemo-static.s3-us-west-2.amazonaws.com/naaseonfabrics/5_yrfqo3.jpg);
  background-position:center;
  min-height: 200px;
}

.picshold{
  padding-top: 30px;
  padding-bottom: 50px;
}

.prophold{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

</style>
<body style="background-color: #f2f2f2;">

<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 70px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Fabrics and CLothes</h1>
      </div>
    </div>
  </div>
</section>

<section class="picshold">
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196117/cl1_breorp.jpg" class="img-fluid">
        <p style="text-align: right;  margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196118/cl2_qewzui.jpg" class="img-fluid">
        <p style="text-align: right; margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196117/cl3_a78tvt.jpg" class="img-fluid">
        <p style="text-align: right;  margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196116/cl4_sprbdo.jpg" class="img-fluid">
        <p style="text-align: right; margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196116/cl5_rmb0xu.jpg" class="img-fluid">
        <p style="text-align: right;  margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196117/cl6_wzpy4h.jpg" class="img-fluid">
        <p style="text-align: right; margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196118/cl7_sdwwah.jpg" class="img-fluid">
        <p style="text-align: right;  margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196118/cl8_wcxaoy.jpg" class="img-fluid">
        <p style="text-align: right; margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196119/cl9_ztb4py.jpg" class="img-fluid">
        <p style="text-align: right;  margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196119/cl10_dwjuxy.jpg" class="img-fluid">
        <p style="text-align: right; margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div class="prophold">
        <img src="https://res.cloudinary.com/nikasemo/image/upload/v1512196118/cl11_oq0nvv.jpg" class="img-fluid">
        <p style="text-align: right;  margin-top: 20px;"><a href="/orders/new" class="btn btn-warning">Make Order</a></p>
      </div>
    </div>
  </div>
</div>
</section>

</body>