

<style type="text/css">

 a {
  text-decoration: none;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}


  .navbackground{
     background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
-moz-box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
box-shadow: 0px 0px 35px -1px rgba(0,0,0,0.89);
  }



.holdformsi{
  padding: 50px;
}



.js-reveal {
  opacity: 1;
  transition: opacity .7s ease-in, margin-top .7s ease-out;
}

.js-reveal--hidden {
  opacity: 0;
  margin-top: 3em;
}


.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
}

.farmprodssection{
  padding: 50px;
  background-color: #ffffff;
}

.landhypes{
  margin-top: 15px;
}

.infoaddlh{
  font-size: 18px;
  text-align: justify;
  font-weight: 300;
  line-height: 30px;
}

.famwantyou{
  height:560px;
  background:linear-gradient(0deg,rgba(0,0,0,1),rgba(0,0,0,0.1)),url(https://res.cloudinary.com/nikasemo/image/upload/v1509993870/6_fnhphn.jpg);
  background-size:cover;
}

.calltoaction{
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #ffffff;
}

.famwantyousecthome{
  font-family: 'Righteous', cursive; 
  color: white; 
  font-size: 50px; 
  text-shadow: 1px 0px 6px rgba(150, 150, 150, 1);
  position: relative;
  top: 180px;
  text-align: center;
}

.calltoactionhead{
   font-family: 'Righteous', cursive; 
  color: white; 
  font-size: 35px; 
  text-align: center;
}

.famwantyousecthome2{
  font-family: 'Asap Condensed', 
  sans-serif; 
  letter-spacing: 2px;
  position: relative;
  top: 190px;
  text-align: center;
  color: #ffffff;
}

.calltoactionheadsub{
  font-family: 'Asap Condensed', 
  sans-serif; 
  letter-spacing: 2px;
  text-align: center;
  color: #333333;
}

.actreadm{
   position: relative;
  top: 200px;
  text-align: center;
  display: none;
}

.ayoon{
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
box-shadow: 0px 0px 15px -1px rgba(0,0,0,0.4);
}

.mycolorbtnw{
  background-color: #ffffff;
  color: #000;
}

.mycolorbtnw:hover{
  background-color: #f2f2f2;
  color: #000;
}

.mycolorbtnw:active{
  background-color: #f2f2f2;
  color: #000;
}

.foothead{
  color: white;
  font-family: 'Asap Condensed', sans-serif; 
}


</style>
 <body>

 <!-- Navigation -->

<!-- Navigation -->
<% if notice %>
<div class="alert alert-success alert-dismissible" style="position: absolute; top: 100px; z-index: 999;" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p class="notice"><%= notice %></p>
</div>
<% end %>

    <header>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <!-- Slide One - Set the background image for this slide in the line below -->
          <div class="carousel-item active" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1587885253/colourful-ashanti-kente-cloth-from-ghana_ge6zbj.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">
                We have a wide variety of Fabrics</h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">
      We have a wide variety of fabrics; African, Euoropean, and Asian type fabrics.</p>
  
            </div>
          </div>
          <!-- Slide Two - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1509993897/5_yrfqo3.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">
                Different colors and different designs.</h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">
      Our different colors and designs are very beautiful and attractive to all age groups.</p>
            </div>
          </div>
          <!-- Slide Three - Set the background image for this slide in the line below -->
          <div class="carousel-item" style="background-image: url('https://res.cloudinary.com/nikasemo/image/upload/v1509993929/1_uopltv.jpg')">
            <div class="carousel-caption d-md-block">
              <h3 style="font-family: 'Righteous', cursive; font-size: 30px; text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">
                We also sew for you beautiful clothes </h3>
    <p style="font-family: 'Asap Condensed', sans-serif; letter-spacing: 2px;">
      We also sew beatiful dresses for women, men and children. Dresses of class that make you stand out</p>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </header>

<section class="farmprodssection">

<div class="container">
    <div class="row">
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1587949119/kentecollage_nnrdiv.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">Beautiful Fabrics.</h4>
                <p class="infoaddlh">
                 We have very beautiful fabrics which will make you stand out for all occasions. Beautiful fabrics with various colours and designs from Africa and across the Globe. We have the best fabrics that will make you look beautiful.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1587949344/kinginkente_gfedl8.jpg" width="100%" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">Dresses on fleek!</h4>
                <p class="infoaddlh">
                 Do you want to look sweet? Do you want your dressing to stand out among the lot... Our seamstresses and Tailors are very talented with their craft. They can take any fabric and make it look splendid on you. To us Fashion is a calling and Creativity is our hallmark. These are our pool of styles/designs to choose from.
                </p>
            </div>
        </div>
        <div class="col-md-4 co-lg-4 col-sm-12" style="margin-bottom: 20px;">
            <div class="informationhypecontainer">
                <img src="https://res.cloudinary.com/nikasemo/image/upload/v1507346102/shutterstock_569120836_oteyky.jpg" width="200px" height="200px" class="img-responsive ayoon">
                <h4 class="landhypes" style="color: #ffc000; margin-bottom: 15px;">Buy and Sew Online.</h4>
                <p class="infoaddlh">
                 Through this online portal, you can order your fabrics and dresses. We also do door to door delivery. Click on the buy online button at the top right corner of your screen(On desktop), on mobile kindly click the menu button at your top right corner. You will see the buy online button among the menu. Place an order today! We humbly await to serve you with delight. Thank You.
                </p>
            </div>
        </div>
      </div>
    </div>

</section>

<section class="py-5" style="background-color: #ffc000;">
      <div class="container">
        <h1 style="font-family: 'Poppins', sans-serif; text-align: center; color: white;" class="js-reveal">
          You looking Good is our Priority!</h1>
        <hr class="worksdivider">
        <div class ="row">
          <div class="col-sm-12">
           <p style="font-weight: 300; font-size: 18px; text-align: center; color: black;" class="js-reveal">
           Through our online portal, you can order your fabrics and dresses. We also do door to door delivery. Click on the buy online button at the top right corner of the screen(On desktop, on phone kindly click the menu button at your top right corner. You will se the buy online button in the menu). Place an order today!
           Over the years our fabrics and sewn dresses have stood out in and around Adum. There are always occasions that you need to look lovely. We have the best fabrics for all your occasions. We also have the best Seamstresses and tailors who have made it their priority to sew dresses which make you look great!. 
           </p><br>
            <p style="text-align: center;"><a href="/about" class="btn mycolorbtnw btn-lg" class="js-reveal">More About This</a></p>
          </div>
        </div>
      </div>
    </section>

     <section class="famwantyou">
  <h3 class="famwantyousecthome js-reveal">The Best Fabrics for the<br>Best looks.</h3>
  <p class="famwantyousecthome2 js-reveal">Beautiful fabrics make you look good!<br>
    Looking good will also increase your confidence.</p>
  <p style="text-align: center;"><a href="/vision" class="btn btn-primary btn-lg actreadm js-reveal">Read More</a></p>
    </section>

    <section class="calltoaction">

     <h3 class="calltoactionhead js-reveal" style="color: #ffc000;">Buy Fabrics online and place order<br>for your dresses.</h3>
     <p class="calltoactionheadsub js-reveal">Do you want to look Great? Do you want a place to find the most beautiful Fabrics.
      <br> Click the button below and order today!</p>
     <p style="text-align: center;"><a href="/orders/new" class="btn btn-primary btn-lg js-reveal">Place An Order Today!</a></p>
    </section>

    </section>

   </body>



