<style type="text/css">
.aduins{
 background:linear-gradient(0deg,rgba(0,0,0,0.8),rgba(0,0,0,0.1)),url(https://nikasemo-static.s3-us-west-2.amazonaws.com/fascinators.jpg);
  background-position:center;
  min-height: 200px;
}

.picshold{
  padding-top: 30px;
  padding-bottom: 50px;
}

.prophold{
  background-color: #ffffff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

</style>
<body style="background-color: #f2f2f2;">
<section class="aduins">
  <div class="container">
    <div class="row" style="margin-top: 70px">
      <div class="col-lg-12">
        <h1 style="text-align: center; color: white; position: relative; top: 65px; font-weight: 900;  text-shadow: 1px 0px 6px rgba(0, 0, 0, 1);">Fascinators</h1>
      </div>
    </div>
  </div>
</section>
<br><br>
<section style="padding-right: 10px; padding-left: 10px;">
<h3 style="text-align: center;">Order fascinators and have them delivered to your home!</h3>
<p style="text-align: center; font-weight: 300;">These fascinators are beautiful, scarce and hard to find. This promotion last for just a month! Request now before it gets late.</p>
</section>
<section class="picshold">
<div class="container">
  <div class="row">
   <%= render @fascinators %>
</div>
</div>
</section>

<%= link_to "new fabric", new_fabric_path %>

</body>