<style type="text/css">
          .navbackground {
  background-color: rgba(255,255,255, 1);
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.navbar-brand1 {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
  text-decoration: none;
  margin-right: 80px;
}

a.navbar-brand1 {
  color: #ffc100; 
}

a {
  text-decoration: none;
}




.navbar-light .navbar-brand1{

font-weight: 600;
}

.navbar-scroll{
color: #000; 
font-weight: 600;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
  color: white;
}

.navbar-light .navbar-scroll:focus, .navbar-light .navbar-scroll:hover {
  color: #343a40;
}

.navbar-light .navbar-nav .nav-link {
  color: #1c1c1b;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  transition: background-color .5s ease-in-out;
    -webkit-transition: background-color .5s ease-in-out;
    -moz-transition: background-color .5s ease-in-out;
  border-bottom: 4px solid transparent;
}

.navlinkscroll{
  color: #343a40;
  
}

.navbar-light .navbar-nav .nav-link:focus {
  color: #1c1c1b;
  font-weight: 700;
  /*border-bottom-color:#f17100;*/
}

 .navbar-light .navbar-nav .nav-link:hover {
  color: #1c1c1b;
  background-color: transparent;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 700;
  
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #D0021B;
  background-color: transparent;
  border: 3px solid #D0021B;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 700;
  margin-left: 20px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
}
.navbar-toggler:hover {
  background: transparent !important;
}
.navbar-toggler .icon-bar {
  display:block;
  background-color: #1b1464;
  width: 26px;
  height: 2px;
  transition: all 0.2s;
}
.navbar-toggler .icon-bar+.icon-bar{
  margin-top: 5px;
}
.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
  opacity: 0;
}
.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 1rem 0 0;
  font-size: 14px;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: rgba(255, 255, 255, 1);
  background-clip: padding-box;
  border-radius: 0rem;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  height: 60px;
  padding: 1.25rem 1.5rem;
  clear: both;
 color: #000000;
  font-weight: 300;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #1b1464;
  font-weight: 500;
}

.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #e08d1e;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #f5b822;
  background-color: transparent;
}

.apppartner {
  background-color: #ffb900;
  color: #0b1936;
  font-size: 18px;
  border-radius: 0px;
  border: none;
}

.btnsearch {
  background-color: #ffc100;
  border-bottom: 2px solid #ffc100;
  color: #ffffff;
  border-radius: 0px;
}

.btnsearch:hover {
  background-color: #ffc100;
  border-bottom: 2px solid #ffc100;
  color: #ffffff;
  border-radius: 0px;
}

.btnsearch:active {
  background-color: #ffc100;
  border-bottom: 2px solid #ffc100;
  color: #ffffff;
  border-radius: 0px;
}

.textholder {
  text-align: center;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #9B9B9B;
            font-size: 13px;
            opacity: 0.4; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: #9B9B9B;
            font-size: 13px;
            opacity: 0.4; /* Firefox */
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: #9B9B9B;
            font-size: 13px;
            opacity: 0.4; /* Firefox */
 }

 .hometopmenumobile {
  display: none;
 }

 .submenumobile {
  display: none;
 }

@media only screen and (min-width : 100px) and (max-width : 600px) {
  .fht {
    margin-top: 30px;
  }

  a.navbar-brand1 {
    font-size: 16px;
    color: #ffffff;
  }

  .hidetopbarred {
    display: none;
  }

  .navbar-toggler {
    display: none;
  }

  .hometopmenumobile {
    display: block;
  }

  .submenumobile {
    display: block;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.18);
-moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.18);
box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.18);
  }

  .btnsearch {
    background-color: #f7af45;
  }

  .live__scroll {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.live__scroll .row{
  display: block;
}

.live__scroll .live__scroll--box2 {
  display: inline-block;
  float: none;
  background-color: #ffc100;
  border-radius: 15px;
  padding: 10px;
  margin-left: 15px;
  text-align: center;
} 

.navbar {
  background-color: #ffc100;
}

}
  </style>

  <body style="font-family: 'Montserrat', sans-serif; background-color: rgba(216,216,216,0.3);">

    <nav class="navbar navbar-light navbar-expand-lg navbackground dottt" style="z-index: 99;">
      <div class="container navbodyhold">
      <a class="navbar-brand1" href="/" style="font-family: 'Montserrat', sans-serif; text-decoration: none;">
      <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/naaseonfabrics/naaseonlogo231_nrinug.png" width="55px" height="40px" style="margin-right:5px;">
      <span>Naaseon</span>
      <span>Fabrics</span>
      </a>
      <p style="padding-top: 15px;" class="hometopmenumobile">
        <span style="color: #ffffff; font-weight: 400; font-size: 14px;">Hello, 
          <% if user_signed_in? %>
          <a href="" style="color: #ffffff; font-weight: 600; font-size: 14px;">Bernard</a></span>
          <% else %>
           <a href="/users/sign_in" style="color: #ffffff; font-weight: 600; font-size: 14px;">Login</a></span> 
          <% end %>

        <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/acct.png" class="img-fluid" width="25px" height="25px" style="margin-left: 3px;">
      </p>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarResponsive">

          <div class="row no-gutters">
            <div class="col-lg-10">
              <input class="form-control" style="width: 400px; border-radius: 0px; border: 2px solid #D0CCCC;" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-lg-2">
              <button class="btn btnsearch" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>

         <!--  <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" style="width: 400px; border-radius: 50px; border: 2px solid #eaeaea;" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->

          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="#!"> 
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/information+copy.png" width="16px;">
                Help
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <% if user_signed_in? %>

            <% else %>

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/users/sign_in"> 
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/login+copy2.png" width="16px">
                Login
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <% end %>

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/ourproducts"> |
                <span class="sr-only">(current)</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link" id="changecolor2" href="/users/sign_up"> 
                <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/add-group+copy.png" width="16px">
                About Us
                <span class="sr-only">(current)</span>
              </a>
            </li>

            

            
           
          
          </ul>
        </div>
      </div>
    </nav>
    <section class="hidetopbarred" style="padding-top: 12px; padding-bottom: 12px; padding-left: 50px; padding-right: 50px; margin-top: 0px; background-color: #ffc100;">
  <div class="row">
    <div class="col-lg-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="textholder">
            <a href="/products" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 600;">
              Kente Fabric
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="textholder">
            <a href="/services" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 600;">
              Material Fabric
            </a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="textholder">
            <a href="/services" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 600;">
              Fascinators
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      
    </div>
    <div class="col-lg-3">
      <div class="row">
        <div class="col-lg-5">
          <div class="textholder">
            <a href="" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 400;">
              <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/conversation+(1).png" width="18px">
              Requests
            </a>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="textholder">
            <% if user_signed_in? %>
            <a href="/myorders" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 400;">
              <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/acct.png" width="18px">
              My Orders <span>(<%= current_user.productorders.where(paid: false).count %>)</span>
            </a>
            <% else %>
            <a href="" style="color: #ffffff; text-decoration: none; font-size: 14px; font-weight: 400;">
              <img src="https://nikasemo-static.s3-us-west-2.amazonaws.com/dianimton-assets/web+assets/acct.png" width="18px">
              Account
            </a>
            <% end %>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="textholder">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="submenumobile">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-9">
         <div class="row no-gutters">
            <div class="col-lg-10 col-10">
              <input class="form-control" style="width: 100%; border-bottom-left-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 0px; border-bottom-right-radius: 0px;" type="search" placeholder="Search" aria-label="Search">
            </div>
            <div class="col-lg-2 col-2">
              <button class="btn btnsearch" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </div>
          </div>
      </div>
      <div class="col-lg-2 col-3" style="text-align: center;">
        <% if user_signed_in? %>
        <a href="/myorders" style="color: #4a4a4a; text-decoration: none; text-align: center; font-size: 12px; font-weight: 400; margin-left: 3px;">
          <i class="fa fa-shopping-basket" style="font-size: 18px;" aria-hidden="true"></i>
          <span>My Orders</span><span>(<%= current_user.productorders.where(paid: false).count %>)</span>
        </a>
        <% else %>
          <a data-toggle="modal" href="#loginModal" style="color: #4a4a4a; text-decoration: none; text-align: center; font-size: 12px; font-weight: 400; margin-left: 3px;">
          <i class="fa fa-shopping-basket" style="font-size: 18px;" aria-hidden="true"></i>
          <span>My Orders</span>
        </a>
        <% end %>
      </div>
    </div>
    <div class="live__scroll">
      <div class="row" style="margin-top: 15px;">
        <div class="col-3 live__scroll--box2">
          <a href="/kenteclothes" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">Kente Fabrics</a>
        </div>
        <div class="col-3 live__scroll--box2">
          <a href="/fabricsclothes" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">Material Fabrics</a>
        </div>
        <div class="col-3 live__scroll--box2">
          <a href="/fascinators" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">Facinatiors</a>
        </div>
        <div class="col-3 live__scroll--box2">
          <a href="#!" style="color: #ffffff; font-size: 15px; font-weight: 500; text-decoration: none;">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>


    <% if notice %>
<div class="alert alert-success alert-dismissible" role="alert" style="position: absolute; top: 100px; z-index: 99999;>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <p class="notice"><%= notice %></p>
</div>
<% end %>


<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">My Orders.</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="text-align: center;">
          <i class="fa fa-shopping-basket" style="font-size: 40px;" aria-hidden="true"></i>
          <br><br>
          Please login to view orders!
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Ok</button>
      </div>
    </div>
  </div>
</div>














